{% extends 'maqueta.html' %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

    <head>
        {% block titleHead %} title>Fundación Mis Perris: Administrador - Lista de rescatados.</title>
        {% endblock %} {% block cssHead %}
        <link rel="stylesheet" href="{% static 'css/normal.css' %}"> {% endblock %}
    </head>

    <body>
        <!-- Contenido de la pagina -->
        {% block contenido %}
        <!-- Creando el cuerpo de la pagina -->
        <section>
            <div id="contenedorForm" class="contenedor-formulario">
                <a class="enlace-agregar" href="{% url 'nuevoRescatado' %}">Agregar nueva mascota</a>
                <!-- Verificar si existen mascotas rescatadas.-->
                {% if mascotas %}
                <!-- Existen perritos disponibles. -->
                <h1> Lista de perritos rescatados/disponibles.</h1>
                <br>
                <hr><br> {% for m in mascotas %}
                <div class="contenedor-fila-lista">
                    <div class="contenedor-item-lista">
                        <img src="{{ m.imagen.url}}" alt="Imagen de {{ m.nombre }}">
                        <p>
                            Nombre: {{m.nombre|capfirst }}<br> 
                            Raza: {{m.raza|capfirst }}<br>
                            {% ifequal m.estado 'r' %}
                            {{ 'Estado: Rescatado' }}
                            {% endifequal %}
                            {% ifequal m.estado 'd' %}
                            {{ 'Estado: Disponible' }}
                            {% endifequal %}
                            {% ifequal m.estado 'a' %}
                            {{ 'Estado: Adoptado' }}
                            {% endifequal %}<br>
                            Descripción: {{m.descripcion|capfirst }}
                        </p>
                    </div>
                    <p>
                        <a href="{% url 'verRescatado' pk=m.id %}">Ver</a>
                        <a href="{% url 'modificarRescatado' pk=m.id %}">Editar</a>
                        <a href="{% url 'eliminarRescatado' pk=m.id %}">Eliminar</a>
                        {% ifequal m.estado 'r' %}
                        <a href="{% url 'cambiarRescatado' pk=m.id %}">Cambiar a disponible</a>
                        {% endifequal %}
                        {% ifequal m.estado 'd' %}
                        <a href="{% url 'cambiarDisponible' pk=m.id %}">Cambiar a rescatado</a>
                        {% endifequal %}
                    </p>
                </div>
                {% endfor %}
                <br>
                <!-- Enlaces para el paginador -->
                <div class="pagination">
                    <span class="step-links">
                    {% if mascotas.has_previous %}
                        <a href="?page=1">&laquo; primera</a>
                        <a href="?page={{ mascotas.previous_page_number }}">Anterior</a>
                    {% endif %}
                        <span class="current">
                        Pagina {{ mascotas.number }} de {{ mascotas.paginator.num_pages }}.
                    </span> {% if mascotas.has_next %}
                    <a href="?page={{ mascotas.next_page_number }}">siguiente</a>
                    <a href="?page={{ mascotas.paginator.num_pages }}">Ultimo &raquo;</a> {% endif %}
                    </span>
                </div>
                {% else %}
                <!-- No hay perritos disponibles. -->
                <h1>No hay perritos rescatados disponibles.</h1>
                <br>
                <hr><br>
                <p>
                    Pulse el enlace "Nuebo" para agregar un perrito rescatado.
                </p>
                {% endif %}
            </div>
        </section>
        {% endblock %}

        <!-- Script de la pagina. -->
        {% block jsBody %} {% endblock %}
    </body>

</html>